@font-face {
    font-family: ruqaa;
    src: url('../fonts/Aref_Ruqaa/ArefRuqaa-Regular.ttf');
}
@font-face {
    font-family: Scheherazade;
    src: url('../fonts/Scheherazade/Scheherazade-Regular.ttf');
}
@font-face {
    font-family: Markazi;
    src: url('../fonts/Markazi/MarkaziText-VariableFont_wght.ttf');
}

body{
    font-family: Markazi;
    font-size: 17px;
}
.btn-primary {
    background-color: #3d6d93;
    border-color: #3D6D93;
    border-radius: 1.5em;
}
.btn-primary:hover {
    background-color: #4c789f;

}
tbody tr  {
    text-align: center;
}
thead tr  {
    text-align: center;
}
.card-body form input {
    text-align: right;
}
.custom-select, .form-control {
    font-size: 19px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.55rem + 6px );
}

.note_active{
    cursor: pointer;
}

/*----------------------------  -----------------------------------*/
.pcoded-header .dropdown .notification {
    direction: rtl;
}
.pcoded-header .dropdown .dropdown_notification {
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}
.pcoded-header .dropdown .dropdown_notification {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.pcoded-header .dropdown .dropdown_notification::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.pcoded-header .dropdown .notification .noti-body li p{
    text-align: right;
}


/*------------dash page -----------------*/
.border-bottom {
    border-bottom: 1px solid #c3c6c9!important;

    }
.card-block .col{
    text-align: center;
}

/*-------------------------------------*/
/*-------------------login page------------------*/
.error_mes {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

/*-------------------admin page------------------*/
.card .dataTables_wrapper .row:first-child{
    direction: ltr;
}



/*------------------------ bookings -> create  ---------------------*/
.dropdown-menu > li.active > a, .dropdown-menu > li:active > a, .dropdown-menu > li:focus > a, .dropdown-menu > li:hover > a {
     background: #72b7ff;
}
.bootstrap-select.btn-group .dropdown-menu li a {

    font-size: medium;
}


.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -3px;
    vertical-align: middle;
}





/*------------------ nav bar   -----------------------*/
.pcoded-header .dropdown .dropdown-toggle{
display: inline;

}



.b-brand .b-bg {
    background: linear-gradient(
        -135deg, #7b938d 0%, #38b3cf 100%);
}
.b-brand .b-bg img {
    width: 55px;
    height: 55px;
}
.b-brand .b-title {
    margin-left: 30px;
    font-family: ruqaa;
    font-size: 24px;
}


.pcoded-header .navbar-nav .nav-full-screen  {
    line-height: 99px;
}
.pcoded-header .navbar-nav .nav-search  {
    line-height: 99px;
}

.pcoded-header .dropdown .dropdown-toggle-left:after {

    top: 12px;
    right: 48px;
}

.navbar {
    margin-bottom: 1px;
}
.pcoded-navbar.navbar-collapsed ~ .pcoded-header, .pcoded-navbar.navbar-collapsed ~ .pcoded-main-container {
    margin-bottom: auto;
}

.pcoded-content {
    padding: 0 30px 0 30px;
    direction: rtl;
}

.page-header {
    padding-bottom: 2px;
    margin: 2px 0 20px;

}

.icon-edit{
margin-right: 13px;
font-size: 16px;
}

.icon-x-circle{
    margin-right: 13px;
    color: #950202;
    font-size: 16px;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: start;
}


/*----------------- side bar --------------------*/
.scroll-div {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.scroll-div::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.pcoded-navbar .pcoded-inner-navbar li.nav-additional > a:after {
    display: none;
}

.nav-item-ver{
    text-align: left;
    padding: 7px 24px;
    margin: 5px 0 0;
    display: block;
    border-radius: 0;
    position: relative;
}
/*---------------------------------------*/

.adminActive {
    margin-right: 49px;
}


/*------------------ marks page ------------------*/
.tbody_marks .form-control{
    border-radius: 1.25rem;
}
.tbody_marks .btn-success{
    border-radius: 1.25rem;
}

#marks-table thead tr th {

    text-align: center;
}
/*---------------------------------------*/


/* Edit Select search with input */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: end;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    left:1px;
 }
.select2-container--default .select2-selection--single .select2-selection__clear {
    float: left;
    margin-left: 10px;
    }

.select2-container--default .select2-search--inline .select2-search__field {
    text-align: end;

}
.select2-container .select2-search--inline {
    float: right;
}
/*---------------------------------------*/

.btn-glow-info .fa-download{
    color: #007bff;
}
